@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
}

html, body, body * {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: inherit;
}
table, th, td {
    border: 1px solid black;
}
/*************************
        HEADER
**************************/

header#main-header {
    overflow: auto;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 11px;
}
header#main-header .logo-container {
    text-align: center;
    margin: 30px 0;
}
.logo-container a {
    text-decoration: none;
    color: #000;

}
.logo-container img.bike-icon {
    width: 100px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

/*************************
        NAV
**************************/
nav#main-nav {
    margin-bottom: 30px;
}
nav#main-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

nav#main-nav ul li{
    flex-basis:15%;
    text-align: center;
    border: 1px solid #000;
}
nav#main-nav ul li:not(:last-child){
    margin-right: 20px;
}
nav#main-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    font-weight: 400;
    display: block;
    height: 100%;
    width: 100%;
    /* margin: 0; */
    line-height: 65px;
}

/*************************
        MAIN
**************************/

.big-cycles-img {
    width: 100%;
    height: auto;
}

/*************************
        ABOUT
**************************/
article#about-article {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
article#about-article header h1 {
    font-size: 2.5rem;
}
.about-big-image {
    width: 100%;
    height: auto;
}
/*************************
        BICYCLES ( INVENTORY )
**************************/

article#inventory-article {
    width: 70%;
    margin: 0 auto;
}

section.intro-section {
    display: flex;
}

section.intro-section .intro-img img {
    height: 120px;
    width: auto;
}

section.intro-section .intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}

.intro-desc .flex-item {
    margin: 0;
    margin-left: 20px;
}

section.inventory-section .inventory-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 20px;
}
.inventory-table th {
    background-color: #aaa;
    color: #fff;
    font-weight: bold;
}
.inventory-table th, .inventory-table td {
    padding: 5px;
}
/*************************
        DETAIL
**************************/
main#detail-main {
    padding: 30px;
}

main#detail-main > a{
    margin-left: 40px;
}

section#detail-section {
    padding-top: 25px;
}

ul.detail {
    list-style: none;
}

ul.detail li {
    margin:  15px 0;
}

ul.detail li div:first-child {
    font-weight: bold;
    display: inline-block;
    width: 113px;

}
ul.detail li div:first-child::after {
    content: ':';
}
ul.detail li div:last-child {

    display: inline-block;
}
    /*************************
            FOOTER
    **************************/
footer#footer {
    margin: 30px 0;
}
#footer p {
    text-align: center;
    font-weight: 500;
}